* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html, body {
width: 100%;
height: 100%;
font-size: 62.5%;
font-family: sans-serif;
}

.keys {
    width: 100vw;
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/1105666/pexels-photo-1105666.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}


.keys .key {
    font-size: 6rem;
    font-weight: bold;
    color: white;
    border: 2px solid #000;
    border-radius: .5rem;
    background-color: #0000006e;
    text-shadow: 0 0 5px black;
    padding: 1rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: all 0.09s;
    cursor: pointer;
}

.playing {
    transform: scale(1.2);
    border-color: #ffc660 !important;
    box-shadow: 0 0 10px #ffc660;
}

.key-music {
    font-size: 1.5rem;
    color: orange;
}